:root {
    --header: rgb(116, 88, 88);
    --bodyOne:rgb(207, 197, 197);
    --aboutJoel:  rgb(255, 255, 255);
    --bodyTwo:  rgb(201, 170, 170);
    --bodyThree: rgb(112, 112, 112);
    --footer: rgb(29, 29, 29);
    --text: rgb(28, 25, 25);
    --textHeaders: rgb(64, 65, 67);
    --background:rgb(0, 0, 0);
    --Aboutjoeltext:rgb(91, 71, 71);
   
}

/* text  */
p {
    color: var(--text);
}

/* text headers */
h4, h3, h1 {
    color: var(--textHeaders);

}

* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 200ms;

}
body {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
    background-color: var(--background);
}

.header {
background-color: var(--header);
display: flex;
justify-content: space-between;
min-height: 100px;
align-items: center;
padding: 12px;

}
.facebook {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


a {
    padding: 8px;
    background-color:rgb(13, 30, 187);
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

a:hover {
    background-color: rgb(15, 33, 199);
    cursor: pointer;
}

.introName {
    font-size: 1.5em;
    font-weight: 900;
    font-family: cursive;

}

.boxOne {
    background-color: var(--bodyOne);
    flex: 2;
    width: 100%;
    display: flex;
    
    
}

.sectionOneText {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.pOnetext {
    display: flex;
    width: 70%;
}

.ourStory {
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
    width: 20%;
}

.imgContainer {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: stretch;

}

.imgContainer img {
    display: flex;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}


.boxTwo {
    flex: 2;
    background-color: var(--bodyThree);
}

.aboutJoel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    height: 10%;
    font-family: cursive;
    background-color: var(--aboutJoel);
}

.aboutJoelText {
    color: var(--Aboutjoeltext);
}

.joelPicHolder {
    display: flex;
    height: 100%;
}

.joelPicHolder img {
    flex: 1 1;
    overflow: hidden;
}

.text h3 {
    margin-bottom: 40px;

}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--bodyTwo);
    align-items: center;
    justify-content: center;
}

.btnBox button {
    margin: 20px;
}
.btnBox button {
    background-color: rgb(171, 171, 171);
    padding: 13px;
    border-radius: 30px;
}

.text p {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.joelPic {
    display: flex;
    flex: 1;

}

.boxThree {
    flex: 1;
    display: flex;
    background-color:var(--bodyThree);
    flex-direction: column;
   align-items: center;
}

.boxThreeContainer {
    display: flex;
    width: 100%;
    height: 100%;
}


.listBoxTwo {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.listBoxTwo h4 {
    justify-self: center;
    margin: 16px;
}



.listBox {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.listBox h4 {
    justify-self: center;
    margin: 16px;
}


.footer {
    background-color:var(--footer);
    min-height: 40px;
}