:root {
    --header: rgb(0, 0, 0);
    --bodyOne:rgb(6, 1, 25);
    --aboutJoel:  rgb(255, 255, 255);
    --bodyThree: rgb(1, 14, 47);
    --footer: rgb(11, 2, 48);
    --text: rgb(255, 255, 255);
    --textHeaders: rgb(253, 194, 0);
    --background:rgb(0, 0, 0);
  
   
}

/* text  */
p {
    color: var(--text);
}

/* text headers */
h4, h3, h1 {
    color: var(--textHeaders);

}

* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 200ms;

}
body {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
    background-color: var(--background);
}

.header {
background-color: var(--header);
display: flex;
justify-content: space-between;
min-height: 100px;
align-items: center;
padding: 8px;
border-bottom: 1px solid white;


}

.logoContainer {
    margin: 20px;
    height: 100px;
    max-width: 80px;
    border: 1px solid rgb(215, 215, 215);
}

.logoContainer img {
    height: 100%;
    width: 100%;
}


.facebook {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: rgb(255, 255, 255);
}


a {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 8px;
    background-color:rgb(13, 30, 187);
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

a:hover {
    background-color: rgb(15, 33, 199);
    cursor: pointer;
}

.introName {
    font-size: 1.5em;
    font-weight: 900;
    font-family: cursive;
    width: auto;
    color: rgb(255, 255, 255);

}

.boxOne {
    background-color: var(--bodyOne);
    flex: 2;
    width: 100%;
    display: flex;
    
    
}

.sectionOneText {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

h1 {
    text-align:center;
    padding-top: 20px;
    color: goldenrod;
}

.pOnetext {
    display: flex;
    width: 70%;
}

.ourStory {
    background-color: rgb(60, 114, 67);
    border-radius: 20px;
    padding: 20px;
    width: 20%;
    min-width: 120px;
}

.imgContainer {
    padding: 0px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

.imgContainer img {
   object-fit: scale-down;
   flex: 1;
    width: 100%;
    height: 100%;
}


.aboutJoel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    max-height: 10%;
    font-family: cursive;
    background-color: var(--aboutJoel);
}



.boxTwo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/joel.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.floatHolder {
    display: flex;
    width: 80%;
    height: 70%;
  background-color: rgba(160, 121, 93, 0.831);
 
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text h3 {
    align-items: center;
    color: rgb(255, 255, 255);

}

.text p {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin: 50px;

}

.btnBox {
    display: flex;
}

.btnBox button {
    margin: 20px;
    flex: 1 1 30px;
}

.contact {
    margin: 20px;
    background-color: rgb(194, 154, 23);
    flex-shrink:1;
} 









.boxThree {
    flex: 1;
    display: flex;
    background-color:var(--bodyThree);
    flex-direction: column;
   align-items: center;
}

.boxThreeContainer {
    display: flex;
    width: 100%;
    height: 100%;
}


.listBoxTwo {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.listBoxTwo h4 {
    justify-self: center;
    margin: 16px;
}

.listBoxTwo p {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  
}


.listBox {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.listBox h4 {
    justify-self: center;
    margin: 16px;
}

.listBox p {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}


.footer {
    background-color:var(--footer);
    min-height: 80px;
    align-content: center;
}

.footer p {
   font-weight: 200;
}